h1,
h2,
a,
h3,
p {
    font-family: "eurostile", sans-serif;
    color: #141c3a;
}

/* ESTILO HEADER */

.body{
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, #00EE76 100%);

}

.logo-header{
    font-size: 2em;
    font-weight: bold;

}
.conteudo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 65px 0 65px;

}

.contato-header {
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    padding: 10px;
    border-color: #00EE76
        /*#00EE76 ou #00E5EE*/
    ;
    color: #00EE76;
    font-weight: bold;
}

.conteudo-principal{
    background-color: white;
}
.conteudo-titulo {
    font-family: "eurostile", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    margin-top: 85px;
    padding-bottom: 170px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 65%, #00ee77d0 100%);
}

.titulo-conteudo {
    font-size: 50px;
    font-weight: bold;
}


.imagem-projeto {
    width: 920px;
    align-self: center;
    margin-top: 15px;
    box-shadow: 10px 10px 5px rgba(235, 165, 165, 0.173);
}

.projeto-objetivo{
    display: flex;
    align-self: center;
    width: 850px;
    font-size: 20px;
    text-align: justify;
    margin-top: 60px;
    margin-left: 350px;
    border-left: 4px solid #25D285;
    padding-left: 5px;
}


.linguagens {}

.navbar-linguagens {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 20px;


}

.container-backend {
    display: flex;
    flex-direction: column;

}

.titulo-linguagens{color: #25D285; border-left: 4px solid #25D285; font-size: 25px; padding-left: 5px; padding-bottom: 5px;}

.texto-linguagens {
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
    margin: 0;

}


