h1,
h2,
h3,
p {
    font-family: "eurostile", sans-serif;
    color: #141c3a;
}

/* ESTILO HEADER */


.conteudo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 65px 0 65px;
}

.contato-header {
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    padding: 10px;
    border-color: #00EE76
        /*#00EE76 ou #00E5EE*/
    ;
    color: #00EE76;
    font-weight: bold;
}


/* ESTILO MAIN */


.conteudo-titulo {
    font-family: "eurostile", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 85px;
    padding-bottom: 170px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, #00EE76 100%);
}

.titulo-conteudo {
    font-size: 50px;
    font-weight: bold;
}


.imagem-frontend {
    width: 210px;
    align-self: center;
    margin-top: 45px;
}


/* ESTILO BIOGRAFIA - QUEM SOU EU? */

.bio {
    background-image: linear-gradient(#00EE76, white);
    display: flex;
    justify-content: center;
}

.bio-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 160px;
    width: 900px;
}

.titulo-bio {
    font-size: 40px;
    font-weight: bold;
}

.texto-bio {
    width: 700px;
    align-self: center;
    line-height: 25px;

}

.icone-notebook {
    width: 750px;
    display: flex;
    align-self: center;
    margin-top: 40px;

}


/* ESTILO "LINGUAGENS" */


.linguagens {
    height: 300px;
    
}

.navbar-linguagens {
    display: flex;
    height: 300px;
    flex-direction: row;
    justify-content: space-around;
    

}

.titulo-linguagens{
    text-align: center;
    margin-bottom: 55px;
}

.container-backend {
    display: flex;
    flex-direction: column;
}

.container-frontend {
    display: flex;
    flex-direction: column;
}

.container-framework {
    display: flex;
    flex-direction: column;
}

.container-bd {
    display: flex;
    flex-direction: column;
}

.titulo-backend{color: #25D285; border-left: 4px solid #25D285; font-size: bold; padding-left: 5px;}
.titulo-frontend { color: #25D285; border-left: 4px solid #25D285; font-size: bold; padding-left: 5px;}
.titulo-frameworks { color: #25D285; border-left: 4px solid #25D285; font-size: bold; padding-left: 5px;}
.titulo-bancodedados { color: #25D285; border-left: 4px solid #25D285; font-size: bold; padding-left: 5px;}

.texto-linguagens {
    font-size: 14px;
    line-height: 30px;
    margin: 0;

}


/* ESTILO PROJETOS */


.projetos{
    box-shadow: 0px 1px 20px 20px #00EE76;
    background-image: linear-gradient(#00EE76 10%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.container-projetos {
    box-shadow: 12px 12px 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    opacity: 1;
    background-color: white;
    width: 80%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    position:relative;
   

    
}

.projetos-faculdade-titulos{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.projetos-faculdade-imagens{
    display: flex;
    flex-direction: row;
    height: 20vh;
    margin: 0 auto;
    
}
.projetos-faculdade-imagens div{
    align-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    
   
}
.titulo-faculdade{
    margin: 5px auto;
    padding-top: 2px;
}

.imagem-projeto-faculdade{
    width: 75%;
    height: 20vh;
    margin: 0 auto;
    filter: blur(2px);
    
    

}

.fim-projetos {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, #00EE76 100%);

}
