/* DEFINIÇÃO FONTE */

h1,
h2,
h3,
a,
p {
    font-family: "eurostile", sans-serif;
    color: #141c3a;
}

/* ESTILO HEADER */


.conteudo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 65px 0 65px;
}

.contato-header {
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    padding: 10px;
    border-color: #00EE76;
    color: #00EE76;
    font-weight: bold;
}


/* ESTILO MAIN */


.conteudo-titulo {
    font-family: "eurostile", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 85px;
    padding-bottom: 170px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, #00EE76 100%);
}

.titulo-conteudo {
    font-size: 50px;
    font-weight: bold;
}


.imagem-frontend {
    width: 210px;
    align-self: center;
    margin-top: 45px;
}


/* ESTILO BIOGRAFIA - QUEM SOU EU? */

.bio {
    background-image: linear-gradient(#00EE76, white);
    display: flex;
    justify-content: center;
}

.bio-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 160px;
    width: 90vw;
}

.titulo-bio {
    font-size: 2.5em;
    font-weight: bold;
}

.texto-bio {
    width: 700px;
    align-self: center;
    text-align: left;
    line-height: 25px;

}

.icone-notebook {
    width: 50vw;
    display: flex;
    align-self: center;
    margin-top: 40px;

}


/* ESTILO "LINGUAGENS" */


.linguagens {}

.navbar-linguagens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titulo-linguagens {
    text-align: center;
    margin-bottom: 55px;
}

.texto-linguagens {
    font-size: 0.9em;
    line-height: 30px;
    margin: 0;
}

.container-backend {
    display: flex;
    flex-direction: column;
}

.container-frontend {
    display: flex;
    flex-direction: column;
}

.container-framework {
    display: flex;
    flex-direction: column;
}

.container-bd {
    display: flex;
    flex-direction: column;
}

.titulo-backend,
.titulo-bancodedados,
.titulo-frameworks,
.titulo-frontend {
    color: #25D285;
    border-left: 4px solid #25D285;
    font-size: bold;
    padding-left: 5px;
}


/* ESTILO PROJETOS */


.projetos {
    background: linear-gradient(rgb(255, 255, 255) 0%, #00EE76 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 80vh;
    margin-top: 5em;
    padding-top: 70px;
}

.container-projetos {
    box-shadow: 12px 12px 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    border-style: solid;
    border-color: #E6ECF8;
    opacity: 1;
    background-color: white;
    width: 80%;
    height: 405vh;
    display: flex;
    flex-direction: column;

}

.projetos-titulos {
    margin-left: 50px;
}

.projetos-faculdade-imagens,
.projetos-pessoais-imagens {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 70px;

}

.titulo-projeto {
    font-size: 1.5em;
    font-weight: bold;
}

.desc-projeto {
    line-height: 25px;
    text-align: justify;
    margin-bottom: 20px;
}


.titulo-faculdade {
    color: #000000;
    border-left: 4px solid #25D285;
    padding-left: 5px;
    margin: 45px auto;
    padding-top: 2px;
}

.titulo-pessoais {
    color: #000000;
    border-left: 4px solid #25D285;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 50px;

}


/* ESTILO CURSOS */


.cursos {
    display: flex;
    padding-top: 650px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#00EE76 0%, rgb(255, 255, 255) 35%, #00EE76 100%);
}

.meu-curso-titulo {
    margin-bottom: 1em;
    margin-top: 4em;
}

.container-cursos {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #E6ECF8;
    background-color: #ffffff;
    width: 80%;
    padding: 20px;
    box-shadow: 12px 12px 10px 5px rgba(0, 0, 0, 0.3);
}

.section-cursos {
    display: flex;
    flex-direction: column;
}

.nome-curso {
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: #E6ECF8;
    background-color: #E6ECF8;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 5px;
}

.nome-curso:hover {
    color: #00EE76;
    font-weight: bold;
    border-left: #00EE76;
    border-style: solid;
}

.imagem-curso {
    width: 5vw;
    margin-right: 15px;
    padding-left: 5px;
}


/* IMAGEM ESTUDO*/

.imagem-estudo {
    width: 40vw;
}

/* ESTILO FOOTER */

.footer {
    background-image: linear-gradient(#00EE76, white);
    display: flex;
    justify-content: center;


}

.footer-inicio {
    padding-top: 105px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-redes-footer {}

.imagem-redes {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
}

.footer-fim {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: rgb(39, 39, 39);
    font-size: 1em;
    background-color: #ffffff;
}


/* RESPONSIVIDADE */


@media(max-width: 768px) {

    .conteudo-header {
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 1vw;
        align-content: center;

    }

    .logo-header {
        font-size: 5vw;
        margin-bottom: 1vw;
    }

    .contato-header {
        display: flex;
    }

    .texto-conteudo {
        font-size: 1em;
        margin-left: 15px;
        margin-right: 15px;
    }


    /* BIO */

    .titulo-bio {
        font-size: 2em;
    }

    .texto-bio {
        width: 90vw;
        font-size: 0.9em;
        text-align: justify;

    }

    .icone-notebook {
        width: 90vw;
    }


    /* LINGUAGENS */

    .linguagens {
        display: flex;

        flex-direction: column;
        align-items: center;
    }

    .titulo-linguagens {
        font-size: 2em;
    }

    .navbar-linguagens {
        font-size: 1.5em;
        flex-direction: column;
        margin-top: 2em
    }

    .container-backend .container-frontend .container-bd .container-framework {
        justify-content: space-around;
        align-content: space-between;
    }

    .texto-linguagens {
        font-size: 0.6em;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    /* PROJETOS */



    .projetos {
        background: linear-gradient(rgb(255, 255, 255) 0%, #00EE76 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 80vh;
        margin-top: 5em;
        padding-top: 70px;
    }

    .container-projetos {
        box-shadow: 12px 12px 10px 5px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        border-style: solid;
        border-color: #E6ECF8;
        opacity: 1;
        background-color: white;
        width: 80%;
        height: 405vh;
        display: flex;
        flex-direction: column;

    }

    .projetos-titulos {
        margin-left: 50px;
    }

    .projetos-faculdade-imagens,
    .projetos-pessoais-imagens {
        display: flex;
        width: 50vw;
        flex-direction: column;
        align-self: flex-start;
        margin-left: 70px;

    }

    .titulo-projeto {
        font-size: 1.5em;
        font-weight: bold;
    }

    .desc-projeto {
        line-height: 25px;
        text-align: justify;
        margin-bottom: 20px;
    }


    .titulo-faculdade {
        color: #000000;
        border-left: 4px solid #25D285;
        padding-left: 5px;
        margin: 45px auto;
        padding-top: 2px;
    }

    .titulo-pessoais {
        color: #000000;
        border-left: 4px solid #25D285;
        padding-left: 5px;
        padding-top: 5px;
        margin-top: 50px;

    }

    /* CURSOS */

    .cursos{
        padding-top: 80em;
    }



    /* IMAGEM FIM*/

    .imagem-fim {
        width: 90vw;

        margin-top: 2em;
        margin-bottom: 6em;
    }

    /* IMAGEM ESTUDO*/

    .imagem-estudo {
        width: 90vw;
    }

    /* FOOTER */

    .footer {}

    .imagem-redes {
        width: 7vw;
    }
}

@media screen and (min-width: 768px) {

}

@media (max-width: 992px) {

}
