/* DEFINIÇÃO FONTE */

h1,
h2,
h3,
a,
p {
    font-family: "eurostile", sans-serif;
    color: #141c3a;
}

/* ESTILO HEADER */


.conteudo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 65px 0 65px;
}

.contato-header {
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    padding: 10px;
    border-color: #00EE76;
    color: #00EE76;
    font-weight: bold;
}


/* ESTILO MAIN */


.conteudo-titulo {
    font-family: "eurostile", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 85px;
    padding-bottom: 170px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, #00EE76 100%);
}

.titulo-conteudo {
    font-size: 50px;
    font-weight: bold;
}


.imagem-frontend {
    width: 210px;
    align-self: center;
    margin-top: 45px;
}


/* ESTILO BIOGRAFIA - QUEM SOU EU? */

.bio {
    background-image: linear-gradient(#00EE76, white);
    display: flex;
    justify-content: center;
}

.bio-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 160px;
    width: 90vw;
}

.titulo-bio {
    font-size: 2.5em;
    font-weight: bold;
}

.texto-bio {
    width: 700px;
    align-self: center;
    text-align: left;
    line-height: 25px;

}

.icone-notebook {
    width: 50vw;
    display: flex;
    align-self: center;
    margin-top: 40px;

}


/* ESTILO "LINGUAGENS" */


.linguagens {}

.navbar-linguagens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titulo-linguagens {
    text-align: center;
    margin-bottom: 55px;
}

.texto-linguagens {
    font-size: 0.9em;
    line-height: 30px;
    margin: 0;
}

.container-backend {
    display: flex;
    flex-direction: column;
}

.container-frontend {
    display: flex;
    flex-direction: column;
}

.container-framework {
    display: flex;
    flex-direction: column;
}

.container-bd {
    display: flex;
    flex-direction: column;
}

.titulo-backend,
.titulo-bancodedados,
.titulo-frameworks,
.titulo-frontend {
    color: #25D285;
    border-left: 4px solid #25D285;
    font-size: bold;
    padding-left: 5px;
}


/* ESTILO PROJETOS */


.projetos {
    background: linear-gradient(rgb(255, 255, 255) 0%, #00EE76 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin-top: 5em;
}

.container-projetos {
    box-shadow: 12px 12px 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    border-style: solid;
    border-color: #E6ECF8;
    opacity: 1;
    background-color: white;
    width: 80%;
    height: 405vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.projetos-titulos {
    margin-left: 50px;
}

.projetos-faculdade-imagens,
.projetos-pessoais-imagens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 20vh;
    margin: 0 auto;
}

.projetos-faculdade-imagens div,
.projetos-pessoais-imagens div {
    align-content: center;
    width: 100%;
    height: 100%;
    text-align: center;


}

.titulo-projetos {
    margin-bottom: 40px;
}

.titulo-faculdade,
.titulo-pessoais {
    color: #000000;
    border-left: 4px solid #25D285;
    padding-left: 5px;
    margin: 45px auto;
    padding-top: 2px;
}

.imagem-projeto-faculdade,
.imagem-projeto-pessoais {
    width: 75%;
    height: 20vh;
    margin: 0 auto;
    filter: blur(2px);
    transition: 600ms;
}

.imagem-projeto-faculdade:hover,
.imagem-projeto-pessoais:hover {
    filter: blur(0px);
    box-shadow: 10px 12px 5px rgba(0, 0, 0, 0.3);
}




/* ESTILO MODAL */

.modalOverlay {

    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 1%;
    height: 1%;
    position: fixed;
    top: 50%;
    left: 50%;
}

.defModal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.openModal {
    display: initial;
    opacity: 1;
    animation: unfold 2s ease-in forwards;
}

@keyframes unfold {
    0% {
        background-color: rgba(0, 0, 0, 1);
        transform: scalex(1);
    }

    50% {
        background-color: rgba(0, 0, 0, 0.3);
        transform: scalex(100) scaley(0.1);
    }

    100% {

        transform: scalex(100) scaley(100);
        background-color: rgba(0, 0, 0, 1);
    }
}


.modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 90%;
    height: 90%;
    opacity: 0;
    position: absolute;
    margin: 5vh 5vw;
}

.whiteModal {
    transition: ease-in 1500ms;
    opacity: 1;
}

.closeModal {

    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;

}

.closeModal span {
    text-align: center;
    background-color: #00EE76;
    padding: 6px;
    border-radius: 100%;
}

.openModal {
    display: unset;
    opacity: 1;
    animation: unfold 2s ease-in forwards;
}

@keyframes unfold {
    0% {
        background-color: rgba(0, 0, 0, 1);
        transform: scalex(1);
    }

    50% {
        background-color: rgba(0, 0, 0, 0.3);
        transform: scalex(100) scaley(0.1);
    }

    100% {

        transform: scalex(100) scaley(100);
        background-color: rgba(0, 0, 0, 0.7);
    }
}

iframe {
    width: 100%;
    height: 90%;
    top: 5%;
    position: absolute;


}

/* ESTILO IMAGEM */


.imagem-fim-projetos {
    background-image: linear-gradient(#00EE76, white);
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 50px;
}

.imagem-fim {
    display: flex;
    align-self: center;
    width: 70vw;
}


/* ESTILO CURSOS */


.cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#00EE76 0%, rgb(255, 255, 255) 35%, #00EE76 100%);
}

.meu-curso-titulo {
    margin-bottom: 1em;
    margin-top: 4em;
}

.container-cursos {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #E6ECF8;
    background-color: #ffffff;
    width: 80%;
    padding: 20px;
    box-shadow: 12px 12px 10px 5px rgba(0, 0, 0, 0.3);
}

.section-cursos {
    display: flex;
    flex-direction: column;
}

.nome-curso {
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: #E6ECF8;
    background-color: #E6ECF8;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 5px;
}

.nome-curso:hover {
    color: #00EE76;
    font-weight: bold;
    border-left: #00EE76;
    border-style: solid;
}

.imagem-curso {
    width: 5vw;
    margin-right: 15px;
    padding-left: 5px;
}


/* IMAGEM ESTUDO*/

.imagem-estudo {
    width: 40vw;
}

/* ESTILO FOOTER */

.footer {
    background-image: linear-gradient(#00EE76, white);
    display: flex;
    justify-content: center;


}

.footer-inicio {
    padding-top: 105px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-redes-footer {}

.imagem-redes {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
}

.footer-fim {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: rgb(39, 39, 39);
    font-size: 1em;
    background-color: #ffffff;
}


/* RESPONSIVIDADE */


@media(max-width: 768px) {

    .conteudo-header {
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 1vw;
        align-content: center;

    }

    .logo-header {
        font-size: 5vw;
        margin-bottom: 1vw;
    }

    .contato-header {
        display: flex;
    }

    .texto-conteudo {
        font-size: 1em;
        margin-left: 15px;
        margin-right: 15px;
    }


    /* BIO */

    .titulo-bio {
        font-size: 2em;
    }

    .texto-bio {
        width: 90vw;
        font-size: 0.9em;
        text-align: justify;

    }

    .icone-notebook {
        width: 90vw;
    }


    /* LINGUAGENS */

    .linguagens {
        display: flex;

        flex-direction: column;
        align-items: center;
    }

    .titulo-linguagens {
        font-size: 2em;
    }

    .navbar-linguagens {
        font-size: 1.5em;
        flex-direction: column;
        margin-top: 2em
    }

    .container-backend .container-frontend .container-bd .container-framework {
        justify-content: space-around;
        align-content: space-between;
    }

    .texto-linguagens {
        font-size: 0.6em;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    /* PROJETOS */

    .projetos {
        margin-top: 70px;
        height: 210vh;
    }

    .container-projetos {
        display: grid;
        grid-template-rows: 1fr 3fr 1fr 1fr;
        flex-wrap: wrap;
        width: 89%;
        height: 100%;
    }

    .projetos-faculdade-imagens,
    .projetos-pessoais-imagens {

        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
        row-gap: 80px;
        justify-items: center;
        align-items: center;
        height: 20vh;
        margin: 0 auto;
    }

    .projetos-titulos {
        position: relative;
        font-size: 0.8em;
    }

    .imagem-projeto-faculdade {
        height: 30vh;
        width: 30vw;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .projetos-faculdade-imagens img,
    .projetos-pessoais-imagens img {
        width: auto;

    }

    /* IMAGEM FIM*/

    .imagem-fim {
        width: 90vw;

        margin-top: 2em;
        margin-bottom: 6em;
    }

    /* IMAGEM ESTUDO*/

    .imagem-estudo {
        width: 90vw;
    }

    /* FOOTER */

    .footer {}

    .imagem-redes {
        width: 7vw;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}